h1{
    text-align: center;
}
#countlabel{
    display:block;
    text-align:center;
    font-size: 10em;
    font-family:  Helvetica;
}
#btncontainer{
    text-align: center;
    
}
.button{
    padding:10px 10px;
    font-size: 1.5em;
    color: white;
    background-color: hwb(240 2% 89%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: #c91eb2;
} 